/* ------------------------------GLOBAL ------------------------------*/

/* Colors */
:root {
    --primary: #F2B120;
    --secondary: #FB9569;
    --white: #ffffff;
    --dark: #272839;
    --danger: #bb0000;
    --success: #24b300;
    --title-font: 'Roboto', sans-serif;
    --text-font: 'Poppins', sans-serif;
}

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


